/* changed the body css */

body {
    background-image: url("images/heavy-rain.jpg");
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
}

/* changed the jumborton css -dennis*/
.jumbotron { 
    font-family: Verdana, Tahoma, sans-serif; 
    color: white;
    height: 150px;
    padding: 0;
}
/* created css -dennis*/
#header-name {
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 5px;
}

/*background-color: rgb(193, 193, 215, 0.3);*/
.card-background {
    background-color: transparent;
    width: 175px;
    color: white;
    
    }

    .card-wrap {
    
        padding: 10px;
    }

    /*
font-family: 'Quicksand', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif;
*/

#submit {
    background-color:  rgb(193, 193, 215, 0.2);
    border: 1px solid  rgb(193, 193, 215);
}

#submitYourChoice {
    background-color:  rgb(193, 193, 215, 0.2);
    border: 1px solid;
}

#postal-code {
    border: 1px solid  rgb(193, 193, 215);
    background-color: transparent;
}
/*hovers*/
#submit:hover {
    background-color: rgb(193, 193, 215, 0.6);
}
#submitYourChoice:hover {
    background-color: rgb(193, 193, 215, 0.6);
}

#postal-code:hover {
    background-color: rgb(193, 193, 215, 0.6);
}



.form-control::-webkit-input-placeholder { color: lightgray; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: lightgray; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: lightgray; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: lightgray; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: lightgray; }  /* Microsoft Edge */

.card-header {
    font-size: 24px;
}
.instructions {
    font-size: 20px;
    border-color: darkgray;
    margin: 10px;
    padding: 10px;
}
#player {
    width: 320px;
    height: 240px;
    background-color: #666;
    border-color: royalblue;
    border-width: 10px;
    padding: 10px;
}
#capture {
    margin-left: 10px;
    position:relative;
    background-color: rgb(193, 193, 215, 0.6);
    border-color: transparent;
    border-radius: 25px;
    
}
#canvas {
    float: right;
    padding: 10px;
}
h4 {
    font-size: 24px;
    text-decoration: underline;
}
#play-list-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-left: 75px;
}

/* RADIO BUTTONS*/
[class*="icheck-"] {
    min-height: 22px;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    padding-left: 0px;
}

.icheck-inline {
    display: inline-block;
}

    .icheck-inline + .icheck-inline {
        margin-left: .75rem;
        margin-top: 6px;
    }

[class*="icheck-"] > label {
    padding-left: 29px !important;
    min-height: 22px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

[class*="icheck-"] > input:first-child {
    position: absolute !important;
    opacity: 0;
    margin: 0;
}

    [class*="icheck-"] > input:first-child:disabled {
        cursor: default;
    }

    [class*="icheck-"] > input:first-child + label::before,
    [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 22px;
        height: 22px;
        border: 1px solid #D3CFC8;
        border-radius: 0px;
        margin-left: -29px;
    }

    [class*="icheck-"] > input:first-child:checked + label::after,
    [class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after {
        content: "";
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 10px;
        border: solid 2px #fff;
        border-left: none;
        border-top: none;
        transform: translate(7.75px, 4.5px) rotate(45deg);
        -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
    }

[class*="icheck-"] > input[type="radio"]:first-child + label::before,
[class*="icheck-"] > input[type="radio"]:first-child + input[type="hidden"] + label::before {
    border-radius: 50%;
}

[class*="icheck-"] > input:first-child:not(:checked):not(:disabled):hover + label::before,
[class*="icheck-"] > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-width: 2px;
}

[class*="icheck-"] > input:first-child:disabled + label,
[class*="icheck-"] > input:first-child:disabled + input[type="hidden"] + label,
[class*="icheck-"] > input:first-child:disabled + label::before,
[class*="icheck-"] > input:first-child:disabled + input[type="hidden"] + label::before {
    pointer-events: none;
    cursor: default;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.icheck-wetasphalt > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-wetasphalt > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: #34495e;
}

.icheck-wetasphalt > input:first-child:checked + label::before,
.icheck-wetasphalt > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: #34495e;
    border-color: #34495e;
}
.mb-0 {
    color: rgb(0, 255, 115);
}
.blockquote-footer {
    color: rgba(237, 13, 13, 0.653);
}