/* changed the body css */

body {
    background-image: url("images/heavy-rain.jpg");
    background-repeat: repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100%;
    position: relative;
    overflow: auto;
}

/* changed the jumborton css -dennis*/
.jumbotron { 
    font-family: 'Lato', sans-serif;
    color: white;
    height: 100px;
    padding: 0;
    width: 100%;
    position: fixed;
}

.card-header {
    font-family: 'Lato', sans-serif;
}
.logoName {
    font-family: Verdana, Tahoma, sans-serif; 
    color: white;
    height: 150px;
    padding-top: 200px;
    width: 100%;
}

.logo-col {
    display: flex;
    justify-content: center;
}

#melos-button {
    font-family: 'Lato', sans-serif;
    background-color:  rgb(193, 193, 215, 0.2);
    border: 1px solid  rgb(193, 193, 215);
}

.instructions {
    background-color: transparent;
    
    border-radius: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
}


#instructions1 {
    background-color:  rgb(193, 193, 215, 0.2);
    border: 1px solid  rgb(193, 193, 215);
    border-radius: 5px;
    color: white
}

#instructions-wrapper { display: none;
display: flex;
justify-content: center;
}

/* 
#logo-wrapper {
    margin-left: 50px;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
} */

#logo-wrapper1 {

    font-family: 'Lato', sans-serif;
    color: white;
    margin-top: 100px;
    margin-bottom: 180px;
}

.title-head {
    font-family: 'Lato', sans-serif;
    font-size: 8rem;
    color: white;
}
.lead {
    font-family: 'Lato', sans-serif;
    color: white;
}

.blockquote {
    width: 100%;
    font-family: 'Lato', sans-serif;
}
#country {

    padding-top: 15px;
}
/* created css -dennis*/
/* #header-name {
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 5px;
    width: 300px;
} */


/*background-color: rgb(193, 193, 215, 0.3);*/
.card-background {
    background-color: rgb(8, 8, 8, 0.2);;
    width: 250px;
    color: white;
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
  }
  .card-background2 {
    background-color: rgb(8, 8, 8, 0.2);;
    width: 300px;
    color: white;
    margin-top: 20px;
    
  }
  .card-background5 {
    background-color: rgb(8, 8, 8, 0.4);;
    width: 100%;
    color: white;
    margin-top: 20px;
    padding: 10px;
  }

.nav3 {

    background-color: rgba(8, 8, 8, 0.6);
}

.navContent {
    background-color: rgb(8, 8, 8, 0.4);

}

    .card-wrap {
    
        padding: 10px;
        width: 100%;
    }

    /*
font-family: 'Quicksand', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Roboto', sans-serif;
*/

#submit {
    background-color:  rgb(193, 193, 215, 0.2);
    border: 1px solid  rgb(193, 193, 215);
    font-family: 'Lato', sans-serif;
}

#submitYourChoice {
    background-color:  rgb(193, 193, 215, 0.2);
    border: 1px solid;
    font-family: 'Lato', sans-serif;
}

#postal-code {
    border: 1px solid  rgb(193, 193, 215);
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

#melos-button {
    background-color: transparent;
    color:white;
    border-style: none;

}

.btn:focus {
    outline: none;
  }
/*hovers*/
#submit:hover {
    background-color: rgb(193, 193, 215, 0.6);
}
#submitYourChoice:hover {
    background-color: rgb(193, 193, 215, 0.6);
}

#postal-code:hover {
    background-color: rgb(193, 193, 215, 0.6);
}



.form-control::-webkit-input-placeholder { color: lightgray; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: lightgray; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: lightgray; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: lightgray; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: lightgray; }  /* Microsoft Edge */

.card-header {
    font-size: 24px;
}
.instructions {
    font-size: 15px;
    border-color: darkgray;
    margin: 10px;
}
#player {
    width: 320px;
    height: 240px;
    background-color: #666;
    border-color: royalblue;
    border-width: 10px;
    padding: 10px;
}
#capture {
    margin-left: 10px;
    position:relative;
    background-color: rgb(193, 193, 215, 0.8);
    border-color: transparent;
    border-radius: 20px;
    
}

#capture1 {
    margin-left: 10px;
    position:relative;
    background-color: rgb(193, 193, 215, 0.8);
    border-color: transparent;
    border-radius: 20px;
    
}
#capture2 {
    margin-left: 10px;
    position:relative;
    background-color: rgb(193, 193, 215, 0.8);
    border-color: transparent;
    border-radius: 20px;
    
}

#play1 {
    margin-left: 10px;
    position:relative;
    background-color: rgb(193, 193, 215, 0.8);
    border-color: transparent;
    border-radius: 20px;
}
#play2 {
    margin-left: 10px;
    position:relative;
    background-color: rgb(193, 193, 215, 0.8);
    border-color: transparent;
    border-radius: 20px;
}
#canvas {
    float: right;
    padding: 10px;
}
h4 {
    font-size: 24px;
    text-decoration: underline;
}
#play-list-container {
    padding-top: 20px;
    width: 70%;
    margin-right: 100px;
}

#playlist
{opacity: 0.7;
    height: 450px;

}

#player{
    opacity: 0.7;
}
#face-app{
    display: inline;
    float: left;
    opacity: 0.8;
}



/* RADIO BUTTONS*/
[class*="icheck-"] {
    min-height: 22px;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    padding-left: 0px;
}

.icheck-inline {
    display: inline-block;
}

    .icheck-inline + .icheck-inline {
        margin-left: .75rem;
        margin-top: 6px;
    }

[class*="icheck-"] > label {
    padding-left: 29px !important;
    min-height: 22px;
    line-height: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

[class*="icheck-"] > input:first-child {
    position: absolute !important;
    opacity: 0;
    margin: 0;
}

    [class*="icheck-"] > input:first-child:disabled {
        cursor: default;
    }

    [class*="icheck-"] > input:first-child + label::before,
    [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 22px;
        height: 22px;
        border: 1px solid #D3CFC8;
        border-radius: 0px;
        margin-left: -29px;
    }

    [class*="icheck-"] > input:first-child:checked + label::after,
    [class*="icheck-"] > input:first-child:checked + input[type="hidden"] + label::after {
        content: "";
        display: inline;
        position: absolute;
        top: 0;
        left: 0;
        width: 7px;
        height: 10px;
        border: solid 2px #fff;
        border-left: none;
        border-top: none;
        transform: translate(7.75px, 4.5px) rotate(45deg);
        -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
    }

[class*="icheck-"] > input[type="radio"]:first-child + label::before,
[class*="icheck-"] > input[type="radio"]:first-child + input[type="hidden"] + label::before {
    border-radius: 50%;
}

[class*="icheck-"] > input:first-child:not(:checked):not(:disabled):hover + label::before,
[class*="icheck-"] > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-width: 2px;
}

[class*="icheck-"] > input:first-child:disabled + label,
[class*="icheck-"] > input:first-child:disabled + input[type="hidden"] + label,
[class*="icheck-"] > input:first-child:disabled + label::before,
[class*="icheck-"] > input:first-child:disabled + input[type="hidden"] + label::before {
    pointer-events: none;
    cursor: default;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.icheck-wetasphalt > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-wetasphalt > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: #34495e;
}

.icheck-wetasphalt > input:first-child:checked + label::before,
.icheck-wetasphalt > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: #34495e;
    border-color: #34495e;
}
